// === General Styles ===

* { font-family: $font-family-sans-serif !important; }

body { 
	margin: 0; 
	background-color: $body-main-color; 
}

// Header

header{

	
	@media (min-width: $breakpoint-tablet) {
  		padding: 2rem $size-base * 5;
	}
		

	.logo {
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;

		@media (max-width: $breakpoint-tablet){ padding: $size-base; }
		

		img {
			width: $brand-size-logo; 
			cursor: pointer;
			transition: $transition-smoth;
			&:hover{ opacity: .75; }
		}
	}

	.navigation {
		font-family: $font-family-sans-serif;
		font-weight: $font-weight-medium;
		text-transform: uppercase;
		text-align: right;
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%;
		z-index: 1;

		* { color: #fff; }

		a { 
			text-decoration: none; 
			font-size: $font-size-base;
			padding: 0 $size-base * 1.5;
		}

		@media (max-width: $breakpoint-tablet) {
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			max-width: 100%;
			background: linear-gradient(145deg, $brand-color-main, $brand-color-support);
			opacity: .95;
			padding: $size-base;
			text-align: center; 
		}
		
		.nav-link-items{
			display: inline-block;
			transition: $transition-smoth;

			@media (max-width: $breakpoint-tablet){
				width: 100%;
				* { 
					display: block !important; 
					padding: 5vw 0;
					font-size: $font-size-base * 1.5 ;
					text-align: center;
				}
			}

			:last-child { 
				@media (min-width: $breakpoint-desktop){
					margin-right: $size-base * 4; 
				}
			}

			a { 
				position: relative; 
				display: inline-block;
				margin-bottom: $size-base;

				&:after {    
					background: none repeat scroll 0 0 transparent;
					bottom: $size-base * -.5;
					content: "";
					display: block;
					height: 2px;
					left: 50%;
					position: absolute;
					background: lighten($brand-color-support, 3%); 
					transition: width 0.3s ease 0s, left 0.3s ease 0s;
					width: 0;
				}
				&:hover:after { 
					width: 100%; 
					left: 0; 
				}
			}
		}

		.nav-user-items{
			display: inline-block;
			transition: $transition-smoth;

			* { padding: 0 2rem; }

			@media (max-width: $breakpoint-tablet){
				padding: $size-base *5 0;
			}
		}

		
	}

	#mobileMenu {
		opacity: 1;

		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;

		@media (max-width: $breakpoint-tablet){
			opacity: 0;
			z-index: -1;
			visibility: hidden;
		}
	}

	#closeMobileMenu { 
		width: $brand-size-logo * .75;  
		float: right;
		display: none;
		@media (max-width: $breakpoint-tablet){
			display: block;
		}
	}

	#btnMobileMenu{
		width: $brand-size-logo * .75;  
		position: absolute; right: 0;
		padding: $size-base;
		z-index: 1;
		display: none;
		@media (max-width: $breakpoint-tablet){
			display: block;
		}
	}

	.fadeMobileMenu {
		opacity:1 !important;
		z-index: 100 !important;
		visibility: visible !important;
	}

}

// Flexbox 

.flex-row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.flex-col {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
}

.mxw-25 { max-width: 25%; }

.main-content{
	width: 50%;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: $font-family-sans-serif;
	z-index: 1;

	@media (max-width: $breakpoint-tablet){
		width: 100%;
		padding-top: $size-base * 8;
		padding-left: $size-base;
		padding-right: $size-base; 
	}
}

// Type

.regular	{ font-weight: $font-weight-regular; }
.medium		{ font-weight: $font-weight-medium; }
.semibold	{ font-weight: $font-weight-semibold; }
 
.subtitle	{ 
	text-transform: uppercase; 
	color: $text-color-muted; 
	font-size: $size-base * .85;
}

//Color

.main { color: $text-color-main; }

// Utilities

.shape {
	position: absolute;
	right: 0;
	top: 0;
	width: 75vw;
	z-index: -1;
}

.mb-base3{ margin-bottom: $size-base * 3 }

.over-auto { overflow: auto; }

// Buttons

.btn-main { 
	background-color: lighten($brand-color-support, 3%);
	padding: $size-base $size-base * 1.5 !important; 
	display: inline-block;
	border-radius: 100px;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease; 

	&:hover { background-color: darken($brand-color-support, 10%); }
}

.btn-rounded-hollow-gradient {
	border-radius: 100px;
	width: $size-base *3.5;
	height: $size-base *3.5;

	border: solid 1px lighten($text-color-muted, 20%);

    display: flex;
    align-items: center;
    justify-content: center;

    svg { width: $size-base * 1.25; }

    &:hover{
    	background: linear-gradient(145deg, $brand-color-main, $brand-color-support);
    	border: none;

    	svg { path { fill:#fff; } }
    }
}

//Forms

.form-main-search {
	position: relative;
	input{
		&[type='search']{ 
			border: none;
			box-shadow: 0 0 $size-base $size-base rgba(0, 0, 0, 0.03);
			padding: $size-base 0 $size-base $size-base*2;
			border-radius: 100px;
			width: 100%;
		}
		&::placeholder { color: $text-color-muted; }
	}

	button.btn-main-search{
		width: $size-base * 2.25;
		height:  $size-base * 2.25;

		background: linear-gradient(145deg, $altern-color-main, $altern-color-support);
		position: absolute; right: $size-base*-0.5; top: 50%;
		transform: translate(-50%,-50%);

		border: 0;
		border-radius: 100%;
		outline: none;

		& * {
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-ms-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease; 
		}

		box-shadow: 0 $size-base*.5 $size-base $size-base*.5 rgba(255, 152, 0, 0.25);

		img{ width: 60%; padding-top: $size-base * .3; }

		&:hover { 
			width: $size-base * 2.5;
			height:  $size-base * 2.5;
			background: linear-gradient(145deg, darken($altern-color-main, 10%), darken($altern-color-support, 10%));
			img{ width: 80%; padding-top: 0; }
		}
	}
}

// Cards

.cards-container-title	{ 
	padding: 0 $size-base * 10 0 $size-base * 5;
	margin-bottom: $size-base * 2;
	@media (max-width: $breakpoint-tablet){
		padding: $size-base;
	}
}
.cards-container-helper { 
	padding: 0 $size-base * 10 $size-base * 10 $size-base * 5; 
}
.cards-container {
	background-color: #FFF;
	padding: 0 $size-base * 10 $size-base $size-base * 5;
	padding-bottom: $size-base * 10;
	width: max-content;

	@media (max-width: $breakpoint-tablet){
		padding-left: $size-base;
	}

	.card{

		box-shadow: 0 $size-base * 1.5 $size-base $size-base rgba(0, 0, 0, 0.05);
		background-color: #FFF; 
		border-radius: $size-base * .5;
		margin-top: $size-base * -10;
		margin-right: $size-base * 2 ;

		position: relative;

		.card-top-content{
			padding: $size-base * 3 $size-base * 2;
		}

		.card-logo {
			width: 60%; height: 150px;
			display: block;
			margin: auto;
		}

		.card-title{
			font-size: $size-base * 1.25;
			color: $text-color-main;
		}

		.card-subtitle{
			color: $text-color-muted; 
		}

		.card-desc{
			color: lighten($text-color-muted, 10%);
			font-weight: $font-weight-medium;
			margin: 0;
			img { 
				height: $size-base;
				margin-right: $size-base;
			}
		}

		.divider{
			height: 2px;
			display: block; margin: auto;
			background-color: $body-main-color;
			width: 50%; margin: $size-base auto; 
		}


		.card-bottom-content{
			background: $body-support-color;
			padding: $size-base * 3 $size-base * 2;

			
			.reward{
				font-size: $font-size-base * 2;
				display: inline-block;
				margin: 0 0 $size-base * .5;
				background-image: linear-gradient(-45deg, lighten($brand-color-main, 20%), $brand-color-support );
				background-size: 100%;
				background-repeat: repeat;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent; 
				-moz-background-clip: text;
				-moz-text-fill-color: transparent;
			}

			&:hover + .card-ext-content {
				opacity: 1; visibility: visible;
			}
		}

		.card-ext-content{
			opacity: 0;
			visibility: hidden;
			text-align: center;
			background: #FFF;
			color: $text-color-main;
			padding: $size-base 0;
			box-shadow: 0 $size-base * 1.5 $size-base $size-base rgba(0, 0, 0, 0.05);

			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-ms-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease; 

			border-bottom-left-radius: $size-base;
			border-bottom-right-radius: $size-base;

			position: absolute;
			width: 100%;
		}
	}
}
